.role-box[b-xbfxsd221v] {
    border: 3px solid #000;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 25px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.role-box h4[b-xbfxsd221v] {
    margin-bottom: 15px;
}

.role-box .form-check[b-xbfxsd221v] {
    margin-bottom: 6px;
}

.search-container[b-xbfxsd221v] {
    position: relative;
    width: 100%;
    max-width: 350px;
}

.search-input[b-xbfxsd221v] {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: all 0.25s ease;
    outline: none;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.search-input:focus[b-xbfxsd221v] {
    border-color: #4a90e2;
    box-shadow: 0 0 8px rgba(74,144,226,0.5);
}

.search-icon[b-xbfxsd221v] {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666;
    pointer-events: none;
}

.search-wrapper[b-xbfxsd221v] {
    width: 100%;
    display: flex;
    justify-content: center;   /* Zentriert horizontal */
    margin-bottom: 20px;
}

.btn[b-xbfxsd221v] {
 background-color: #0D6EFD;
 border-color: green;
 color: white;
}