# Visual Studio Ordner
.vs/

# BlazorTemplate Build-Ordner
BlazorTemplate/bin/
BlazorTemplate/obj/Debug/
BlazorTemplate/appsettings.json

# BLDAL Build-Ordner und Migrationen
BLDAL/bin/
BLDAL/obj/Debug/

# DB_Models Build-Ordner
DB_Models/bin/
DB_Models/obj/Debug/

test.csv